/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* UTILS */
  
  .container {
    margin: 0 auto;
    padding: 20px 30px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
    margin-top: 100px;
    padding-bottom: 100px;
    padding-top: 50px;
  }

  body{
    background-color: rgb(245, 239, 239);
    font-family: sans-serif;
  }

 
  .titolo{
    display: inline;
    vertical-align: middle;
    font-size: 50px;
  }

  .header-container{
    line-height: 100px;
    margin-left: 30px;
  }

  .logo{
    vertical-align: middle;
  }


  .task{
    margin-top: 50px;
    margin-left: 50px;
    color: rgb(71, 70, 70);
  }


  .top-header{
    background-color: rgb(255, 255, 255);
  }

  .add-task{
    margin-left: 50px;
    background-color: lightskyblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .add-section{
    margin-left: 10px;
    border: solid 1px lightgrey;
    color: lightgray;
    padding: 10px 20px;
    border-radius: 5px;

  }

  .element{
    margin-left: 50px;
    margin-top: 20px;
    color: rgb(71, 70, 70);
  }

  .type{
    font-size: .8rem;
    background-color: lightskyblue;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
  }


  #purple{
    background-color: blueviolet ;
  }

  #green{
    background-color: rgb(5, 246, 5);
  }

  #orange{
    background-color: orange;

  }

  #pink{
    background-color: pink;
  }

  #lightgreen{
    background-color: rgb(50, 122, 50);
  }


  .check{
    color: rgb(18, 222, 18);
    border: solid 1px rgb(18, 222, 18);
    border-radius: 50%;
    font-size: .9rem;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    padding: 2px;
    }

    .x{
        color: red;
        border: solid 1px red;
        border-radius: 50%;
        font-size: .9rem;
        width: 100px;
        height: 100px;
        margin-right: 10px;    
        padding: 2px;
    }


