/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
  }

  body{
    background-color: black;
  }

  .top-header{
    background-color: rgb(255, 255, 255);
  }

