/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* UTILS */
  
  .container {
    margin: 0 auto;
    padding: 20px 30px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
    margin-top: 100px;
  }
 
  .task{
    margin-top: 50px;
    margin-left: 50px;
  }

  body{
    background-color: black;
  }

  .top-header{
    background-color: rgb(255, 255, 255);
  }

  .add-task{
    margin-left: 50px;
    background-color: lightskyblue;
    color: white;
    padding: 10px 20px;
  }

  .add-section{
    margin-left: 10px;
    border: solid 1px lightgrey;
    color: lightgray;
    padding: 10px 20px;
  }

  .element{
    margin-left: 50px;
  }

  .type{
    font-size: .8rem;
    background-color: lightskyblue;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
  }

  .check{
    color: rgb(18, 222, 18);
    border: solid 1px rgb(18, 222, 18);
  }
